/*
   Lubomir Pokorny (lubomirpokorny@email.cz)
   CSS styles for Uklidy-Mirka.cz
*/

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin,latin-ext);

/* General styles */
body,input,textarea,select {font-family:'Titillium Web',Arial,"Helvetica Neue",Helvetica,sans-serif;}
body {padding-bottom:100px;font-size:13px;line-height:19px;color:#848484;text-align:center;background:#fff url(../images/body-bg.gif) repeat-x top;}
strong {font-weight:bold;}
a {color:#277ece;text-decoration:none;outline:0;}
a:hover {text-decoration:underline;}

/* Common styles */
.float-right {float:right;}
.float-left {float:left;}
.clear {clear:both;}
.center {text-align:center!important;}
.left {text-align:left!important;}
.right {text-align:right!important;}
.white {color:#fff;}
.fs11px {font-size:11px!important;}

/* Main boxes */
#page {width:960px;margin:0 auto;text-align:left;}
#mainbox {padding-bottom:30px;}

/* Header */
#header {position:relative;height:142px;}
#logotype {position:absolute;top:33px;left:10px;padding-left:75px;font-size:26px;color:#277ece;font-weight:bold;text-transform:uppercase;line-height:40px;background:url(../images/logotype.gif) no-repeat center left;}
#logotype strong {display:block;font-size:43px;color:#f92b69;}
#logotype:hover {color:#f92b69;text-decoration:none;}
#headercontact {position:absolute;top:38px;right:0;font-size:26px;text-align:right;color:#277ece;font-weight:600;line-height:32px;}

/* Footer */
#footer {clear:both;padding:0 0 100px 0;text-align:center;background:#fafaff;}
#footer .inner {width:960px;margin:0 auto;padding:15px 0;text-indent:20px;text-align:left;background:#f6f6fe;}
#footer .float-right {padding-right:20px;}
#footer span {color:#277ece;}
#avente {float:right;position:relative;top:3px;right:20px;display:block;width:86px;height:15px;text-indent:-9999px;background:url(../images/avente.png) no-repeat top left;}
#avente:hover {background-position:top right;}

/* Boxes */
.box {float:left;width:225px;font-size:15px;color:#000;}
.box .title {padding:16px 20px 15px 20px;font-size:24px;color:#fff;font-weight:700;background:#277ece;border-top:8px solid #3586d1;}
.box .inner {height:250px;background:#e7e9f8;}
.box ul {padding:17px 15px;}
.box li {padding:3px 10px 3px 18px;background:url(../images/list-item.gif) no-repeat left 8px;}
.box .price {padding:18px 20px 38px 20px;font-size:17px;color:#fff;font-weight:700;background:#f92b69 url(../images/shadow.gif) no-repeat bottom;}
.box2 {position:relative;left:20px;}
.box3 {position:relative;left:40px;}
.box4 {position:relative;left:60px;}
.box1 .inner {background:#e7e9f8 url(../images/image-1.jpg) no-repeat bottom right;}
.box2 .inner {background:#e7e9f8 url(../images/image-2.jpg) no-repeat bottom right;}
.box3 .inner {background:#e7e9f8 url(../images/image-3.jpg) no-repeat bottom right;}
.box4 .inner {background:#e7e9f8 url(../images/image-4.jpg) no-repeat bottom right;}

/* Text */
#lefttext {font-size:17px;line-height:23px;}
#lefttext strong {display:block;padding-bottom:10px;font-size:22px;color:#000;}
#lefttext em {color:#f92b69;}
#righttext {float:right;font-size:17px;text-align:right;line-height:23px;}
#righttext strong {display:block;padding-bottom:10px;font-size:22px;color:#000;}